.menu-wrap {
  width: 100%;
  height: 140%;
  overflow: hidden;
  margin-top: 80px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;

  box-shadow: 0 -1px #fff;
}


.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-family: var(--font-helvetica);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #fff;
  font-size: 3.5vh;
  padding: 30px 0;
  transition: color 0.4s cubic-bezier(0.83, 0, 0.17, 1);
}

@media (max-width: 768px) {
  .menu-wrap {
    height: 120%;
    margin-top: 40px;
  }

  .menu__item-link {
    font-size: 3vh;
    padding: 20px 0;
  }

  .marquee span {
    font-size: 3vh;
    padding: 0 2vw;
  }

  .marquee__img {
    height: 5vh;
    max-height: 40px;
    margin: 0 1.5vw;
  }
}

@media (max-width: 480px) {
  .menu-wrap {
    height: 110%;
    margin-top: 30px;
  }

  .menu__item-link {
    font-size: 2.5vh;
    padding: 16px 0;
  }

  .marquee span {
    font-size: 2.5vh;
    padding: 0 1.5vw;
  }

  .marquee__img {
    height: 4vh;
    max-height: 32px;
    margin: 0 1vw;
  }
}

.menu__item-link:hover {
  color: #060010;
}

.menu__item-link:focus:not(:focus-visible) {
  color: #fff;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: calc(100% + 30px);
  pointer-events: none;
  background: #fff;
  transform: translate3d(0, 101%, 0);
  transition: transform 0.6s ease-expo;
}

.marquee__inner-wrap {
  height: 100%;
  width: 200%;
  display: flex;
  transform: translateX(0);
}

.marquee__inner {
  display: flex;
  align-items: center;
  /* This ensures vertical centering */
  position: relative;
  height: 100%;
  width: 200%;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

/* FIXED: Proper centering for all marquee content */
.marquee__inner>* {
  display: flex;
  align-items: center;
  /* Vertically center all direct children */
  height: 100%;
  /* Take full height */
}

.marquee span {
  color: #000;
  white-space: nowrap;
  font-family: var(--font-helvetica);
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 3.5vh;
  line-height: 1;
  padding: 0 4vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



.menu__item:hover .marquee span {
  color: #000;
}

.menu__item-link:hover+.marquee {
  transform: translate3d(0, 0%, 0);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee span,
.menu__item-link {
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0);
}